<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.lsj.smartpiano"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:name=".common.application.SmartPianoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".module.launch.activities.LoadingVideoActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".module.launch.activities.SplashActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".module.home.ui.MainActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.course.ui.CourseInfoActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".module.video.ui.VideoActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".module.karagame.ui.KaraGameActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".module.video.ui.AdvanceContentActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".module.video.ui.VideoViewPlayerActivity"
            android:screenOrientation="landscape"
            />
    </application>

</manifest>